<div id="container">
    <mat-card>
        <mat-card-title id="todoListTitle">
            Todos
            <button mat-raised-button color="primary" style="float: right;" (click)="openAddDialog()">
                <mat-icon>add</mat-icon>
                Add
            </button>
        </mat-card-title>
        <mat-card-content>
            <mat-list id="todoListContent">
                <mat-list-item *ngFor="let todo of todos$ | async">
                    <h4 matLine>
                        <mat-checkbox [(ngModel)]="todo.isClosed" (change)="handleTodoClicked(todo)"></mat-checkbox>
                        {{todo.title}}
                    </h4>
                    <a mat-icon-button [routerLink]="['/todos/', todo.id]">
                        <mat-icon>info</mat-icon>
                    </a>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>